*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.mb-3{
    margin-top: 50px;
}

.comentwrite{
    margin-top: 10px;
}
.comentar{
    background-color: rgb(255, 215, 0);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 8px 5px 10px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 1px;
    margin-right: 20px;
    margin-bottom: 30px;
    
}
.comentar:hover{
    transform: translateY(-10%);
}

.writecomment{
    margin-top: 30px;
    opacity: 0.9;
   
}
.font-weight-bold{
    color: black;

}
a{ 
    color: black; 
} 

a:hover{
    color: black;
   
}
.buttonLog{ 
    background-color: rgb(255, 215, 0); 
    border: none; 
    font-size: 14px; 
    height: 30px; 
    padding: 5px 8px 5px 10px; 
    width: auto; 
    border-radius: 10px; 
    font-weight: bold; 
    margin-top: 40px; 
    margin-bottom: 20px; 
    margin-right: 20px; 
    display: flex; 
    text-align: center; 
    
} 
.buttonLog:hover{
    transform: translateY(-10%);
}
.nameuser{ 
    display: flex;
    color:  rgb(255, 215, 0); 
    font-weight: bold; 
    /* margin-top: 40px; 
    margin-bottom: 20px; 
    margin-right: 20px;  */
    
    font-size: 22px; 
}
.contenedoruser{
    width: 100%;
    max-width: 75em;
    margin:  auto;
    padding: 5px;
    margin-top: 20px;
}
.contenedoruser{
    width: 100%;
    max-width: 75em;
    margin:  auto;
    padding: 5px;
    margin-top: 20px;
}
.card{
    background-color: #1a1a1a;
}
.text-primary{
    color:rgb(255, 215, 0) !important;
}
.font-weight-bold{
    color: white;
}
.form-label{
    font-size: 20px;
    margin-top: 4%;
}
