*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.MovieDetail{
    position: relative;
}

.contenedor{
    position: relative;
    width: 100%;
    /* max-width: 75em; */
    max-width: 75vw;
    margin:  auto;
    padding: 60px;
    margin-top: 20px;
    /* margin-right: 250px; */
    /* position: absolute;    */
    
}
#menu-btn{
    position: absolute;
    right: 5rem;
}
.Checkout-component{
    position: absolute;
    right: 0px;
    /* height: 100px; */
    /* z-index: 5; */
}
#checkout-active{
    margin-right: 350px;
}

.title{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 700;
}
.movieImg{ 
    width: 300px;
    float: left;
    margin-right: 20px;
}
.texto{
    font-size: 18px;
    font-weight: 400;
    
    
}
p{
    margin-bottom: 10px;
}
.pg{
    display: inline;
    background-color: rgb(255, 215, 0);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 25px;
}
.trailer{
    background-color: rgb(255, 215, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    
    padding: 5px 9px 5px 9px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 190px;
}
.trailer:hover{
    text-decoration: none;
    color: black;
    
}

.selectHora{
    background-color:rgb(255, 215, 0);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}
.selectDia{
    background-color: rgb(255, 215, 0);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 8px 5px 10px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
}
select:hover{
    cursor: pointer;
}
.botoncomprar{
    background-color: rgb(255, 215, 0);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 8px 5px 10px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 20px;
    }

.botoncomprar:hover {
    cursor: pointer;
}
.botoncomprar2{
    background-color: rgb(255, 215, 0);
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px 8px 5px 10px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-right: 20px;
    }

    .botoncomprar2:hover {
        cursor: pointer;
    }
.num{
    text-align: center;
    margin: 20px;
    font-size: 30px;
}
.imgposter{
    margin-right: 60px;
    max-width: 100%;
}
.estrenopelicula{
   color:  rgb(255, 215, 0);
    font-size: 25px;
    
}