.headerDiv{
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: 50px;
    margin-top: 20px;
}

.miPerfil{
    margin-left: 30px;
}

hr {
    border: 0;
    clear:both;
    display:flex;
    align-items:center;
    width: 96%;               
    height: 1px;
  }

.buttons{
    display:flex;
    justify-content:space-evenly;
}

.accionesDiv{
    display: flex;
    align-items: baseline;
    justify-content:flex-start;
    margin-left: 50px;
}

.minheight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 45vh;
}