* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-checkout{
  width: 31%;
  position: fixed;
  justify-content: center;
  min-height: 108vh;
  overflow: hidden;
  margin: 0px;
  padding-bottom: 30px;
  background-color: rgb(27, 29, 31) !important;
  bottom: -20px;
  transition: width 1s;
  padding-bottom: 100px;
  text-align: center;
  
  right:2px
}
  
  
  /* ; */
  
  

.navbar-checkout:hover{
  width: 33%;
}

/* #sidebar-active{
  margin-right: 0;
} */
#sidebar{
  position: fixed;
}
li{
  margin-left: 0px;
}

.modal-lg-mod{
  position: absolute !important;
   top: 10px ;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   /* overflow: auto; */
   /* overflow-y: auto; */
}
#staticBackdropcheck{
  text-align: center;
}


.closebutton{
  font-size: 16px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border: none;
	letter-spacing: 2px; /* Espacio entre letras */
  background-color: transparent;
	position: absolute;
	right: 40px;
	transition: all 300ms ease 0ms;
	
	z-index: 99;
}
.closebutton:hover{
  /* Color de fondo al pasar el cursor */
	
	transform: translateY(-7px);
  
}


.promo{
  font-size: 18px;
}
.promo2{
  color: rgb(205, 205, 6);
}

.modal-lg-prueba {
  position: absolute !important;
   top: 0 ;
   right: 130px;
   bottom: 0;
   left: 0;
   z-index: 10040;
}

.deletticket{
  background-color: transparent;
  border:none;
}
.deletticket:hover{
  color: red;
  transition: 0.8s;
}
#candyagregar{
  padding: 2px;
}