* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-checkout{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    margin-right: -300px;
    background-color:rgb(60, 156, 156);
    transition: 0.5s;
}

#sidebar-active{
    margin-right: 0;
}
#active-section{
    margin-right: 250px;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: aliceblue;
}

.dropdown-menu{
    background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: rgb(62, 55, 46);
}

.my-container{
    transition: 0.2s;
    display: flex;
    justify-content: flex-end;
    /* position: absolute; */
    /* width: 100%; */
}

#menu-btn {
    /* position: absolute;
    right: 0px; */
}

/* for navbar */
/* .active-nav{
    margin-left: 10;
} */

/* for main section */
/* .active-cont {
    margin-left: 250px;
} */