* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar-checkout{
  width: 350px;

  height: 540px;
   position: absolute; 
  right: 0; 
  background-color:rgb(29, 34, 34);
  opacity: 0,5 !important;
  transition: width 1s;
  /* width: auto; */
  text-align: center;
  transition:width 2s;
  border-radius: 10px;
  
}

/* #sidebar-active{
  margin-right: 0;
} */
#sidebar{
  position: fixed;
}
li{
  margin-left: 0px;
}
.btn-warning{
  margin-left: 10px;
}





/* .my-container{
  transition: 0.2s;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
} */



/* for navbar */
/* .active-nav{
  margin-left: 10;
} */

/* for main section */
/* .active-cont {
  margin-left: 250px;
} */